<div class="row justify-content-center">
    <div class="col-lg-5">
        <p-panel header="Login Form">
            <form (submit)="onLogin()" [formGroup]="loginForm">
                <div class="p-fluid mb-3">
                    <label htmlFor="email" class="text-muted">Email</label>
                    <input pInputText id="email" formControlName="email" />
                    <small class="p-error"
                        *ngIf="(formControl.email.touched || formControl.email.dirty) && formControl.email.errors">
                        <div *ngIf="formControl.email.errors.required">
                            {{formControl.email.errors.required.message}}
                        </div>
                        <div *ngIf="formControl.email.errors.email">
                            {{formControl.email.errors.email.message}}
                        </div>
                    </small>
                </div>
    
                <div class="p-fluid mb-3">
                    <label for="password" class="text-muted">Password</label>
                    <p-password formControlName="password" [feedback]="false"></p-password>
                    <small class="p-error"
                        *ngIf="(formControl.password.touched || formControl.password.dirty) && formControl.password.errors">
                        <div *ngIf="formControl.password.errors.required">
                            {{formControl.password.errors.required.message}}
                        </div>
                    </small>
                </div>
                
                <p-button label="Login" [disabled]="!loginForm.valid" styleClass="p-button-raised p-button-sm p-button-success" type="submit"></p-button>
            </form>
        </p-panel>
    </div>
</div>
